@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');

body,
html, 
.body {
  background: #f2f4f6 !important;
  font-family: 'Open Sans', sans-serif !important;
}

.header {
  background: #000000 !important;

  .header__image {
    padding-top: 10px;
  }
}

.content {
  background: #ffffff !important;

  .content__container {
    padding-left: 50px !important;
  }
  
  .content__title {
    font-weight: 700 !important;
    color: #363636 !important;
    margin-top: 20px !important;
    

  }
  .content__subtitle {
    color: #777981;
    margin-top: 20px ;
    margin-bottom: 30px !important;
  }

  .content__button {
    color: #eef2fb !important;
    background: #3869d4 !important;
    padding: 10px 20px;
    border-radius: 3px;
    font-weight: 600 ;
    font-size: 13px !important;
  }

  .content__expire {
    color: #777981;
    margin-top: 35px !important;
   .content__expire-link {
     color: #3869d4;
    text-decoration: underline solid #3869d4;
    }
  }

  .content__delete {
    color: #777981;
    margin-top: 25px !important;
  }

}

.footer {
  background: #f2f4f6 !important;

  .footer__support {
    color: #777981;
    margin-top: 30px !important;
    font-size: 12px;

    .content__support-link {
      color: #3869d4;
      text-decoration: underline solid #3869d4;
    }
  }
}
